#root {
    background: linear-gradient(
      173deg,
      rgba(250, 254, 122, 0.639093137254902) 0%,
      rgba(167, 222, 68, 1) 28%,
      rgba(0, 212, 255, 0.26934523809523814) 90%
    );
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
  }
  